[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An efficient way to store all the information regarding prison and prisoners in the database
[access "refs/*"]
	owner = group user/Vedika Agarwal (vedikagarwal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vedika Agarwal (vedikagarwal)
	label-Verified = -1..+1 group user/Vedika Agarwal (vedikagarwal)
	push = group user/Vedika Agarwal (vedikagarwal)
	read = group user/Vedika Agarwal (vedikagarwal)
	rebase = group user/Vedika Agarwal (vedikagarwal)
	removeReviewer = group user/Vedika Agarwal (vedikagarwal)
	submit = group user/Vedika Agarwal (vedikagarwal)
[access "refs/heads/*"]
	create = group user/Vedika Agarwal (vedikagarwal)
	push = +force group user/Vedika Agarwal (vedikagarwal)
	pushMerge = group user/Vedika Agarwal (vedikagarwal)
	read = group user/Vedika Agarwal (vedikagarwal)
[access "refs/tags/*"]
	push = group user/Vedika Agarwal (vedikagarwal)
	push = +force group user/Vedika Agarwal (vedikagarwal)
